<div class='nested-fields row'>
    <div class="field col-md-4">
      <%= f.input :name, label: 'Carrier Name', collection: QuoteItem.carrier_names, label_method: :second, value_method: :first, prompt: "Select Carrier name", input_html: {:class=> "single-field select2-dropdown"} %>
    </div>
    <div class="field col-md-3">
      <%= f.input :amount, input_html: { autocomplete: "Amount", class: "single-field", placeholder: "Amount", step: :any, min: 0.1 } %>
    </div>
    <div class="field col-md-4">
      <%= f.input :routing, input_html: { autocomplete: "routing", class: "single-field", placeholder: "Routing" } %>
    </div>
    <div class="d-none">
      <%= f.text_field :item_type , value: QuoteItem.item_types[:carrier]%>
    </div>
    <div class="field col-md-1 align-self-center">
      <%= link_to_remove_association "", f, class:"fa fa-times" %>
    </div>
  </div>
