<% op_user = conversation.opposed_user(current_user) %>
<div class="content <%= conversation.id === @id ? 'tab-pane active show' : "tab-pane" %>" id="con-<%=conversation.id%>" data-conversation-id="<%= conversation.id %>">
  <!--                <div class="contact-profile">-->
  <!--                  <div class="headind_srch">-->
  <!--                  <div class="recent_heading">-->
  <!--                    <h4>-->
  <!--                      <div class="row">-->
  <!--                        <div class="col-md-3">-->
  <%# if op_user.profile_picture.attached? %>
  <%#= image_tag url_for(op_user.profile_picture)%>
  <%# else %>
  <%#= image_tag "avatar/user_default"%>
  <%# end %>
  <!--                        </div>-->
  <!--                        <div class="col-md-6">-->
  <%# if conversation.inquiry_id != nil && conversation.quote_id != nil %>
  <!--                            <p class="name"><%#= op_user.name  %> <a target="_blank" class="label label-danger" href="<%#= inquiry_quote_path(inquiry_id: conversation.inquiry_id, id: conversation.quote_id) %>">Quote</a> </p>-->
  <%# elsif conversation.inquiry_id != nil %>
  <!--                            <p class="name"><%#= op_user.name  %> <a target="_blank" class="label label-primary" href="<%#= inquiry_path(id: conversation.inquiry_id) %>">Inquiry</a> </p>-->
  <%# else %>
  <!--                            <p class="name"><%#= op_user.name %></p>-->
  <%# end %>
  <!--                        </div>-->
  <!--                        <div class="col-md-3"></div>-->
  <!--                      </div>-->

  <!--                    </h4>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--                </div>-->

  <div class="messages panel-body" id="panel-body-<%=conversation.id%>">
    <div class="chat-container messages-list message-list-inner" >
      <ul class="commentList msg_history message-list custom-scroll" style="min-height: 450px; max-height: 450px">
        <%= render 'conversations/conversation_content', messages: conversation.messages, user: current_user %>
      </ul>
    </div>
    <div class="message-input type_msg" style="position: relative !important;">
      <form class="new_message input_msg_write">
        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <input name="user_id" type="hidden" value="<%= current_user.id %>">
        <input name="body" class="write_msg" placeholder="Type a message" />
        <button type="submit" value="Send" class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </form>
    </div>
  </div>
</div>