<main>
  <div class="main-wrapper">
    <%= render 'users/shared/cover_photo', user: @user %>
    <div class="profile-menu-area secondary-navigation-style bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3">
            <%= render 'users/shared/profile_picture', user: @user %>
          </div>
          <div class="col-lg-6 col-md-6 offset-lg-1">
            <div class="profile-menu-wrapper">
              <div class="main-menu-inner header-top-navigation">
                <nav>
                  <ul class="main-menu">
                    <li><a href="<%= user_path(id: @user.id) %>">timeline</a></li>
                    <li class="active"><a href="#">friends</a></li>
                    <li><a href="<%= my_calender_user_path(id: @user.id)%>">calender</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 d-none d-md-block">
            <div class="profile-edit-panel">
              <% if @user == current_user %>
                <a class="edit-btn" style="color: white;" href="<%= edit_user_path(id: @user) %>">edit profile</a>
              <% elsif @is_friend %>
                <%= link_to 'Remove Friend', remove_friend_path({id: @user.id}), class: 'edit-btn', method: :post, style: "color: white;" %>
              <% elsif @can_remove %>
                <%= link_to 'Cancel Request', cancel_request_path({id: @user.id}), class: 'edit-btn', method: :post, style: "color: white;" %>
              <% elsif @can_accept %>
                <div class="row">
                  <%= link_to 'Accept', add_friend_path(id: @user.id), method: :post, class: "btn btn-primary col-md-5" %>
                  <div class="col-md-1"></div>
                  <%= link_to 'Reject', reject_friend_path(id: @user.id), method: :post, class: "btn btn-primary col-md-5",  style: "background-color: orangered"  %>
                </div>
              <% elsif @can_add %>
                <%= link_to 'Add to Network', friends_path({id: @user.id}), class: 'edit-btn', method: :post, style: "color: white;" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="friends-section ">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <aside class="widget-area profile-sidebar">
              <!-- widget single item start -->
              <div class="card widget-item">
                <h4 class="widget-title" style="margin-bottom:  10px !important;"> <%= @user.name %>
                  <% if @user !=  current_user %>
                    <%= link_to "<i class='fa fa-comment'></i>".html_safe ,conversations_path(user_id: @user.id, con_type: "User"), method: :post, class: "btn btn-blue" %>
                  <% end %>
                </h4>
                <%= render 'users/shared/side_widget', user: @user %>
              </div>
              <!-- widget single item end -->
            </aside>
          </div>

          <div class="col-md-9">
            <% if @user == current_user %>
              <%= render 'users/inquiry_section' %>
            <% end %>
            <div class="page-title-inner">
              <h4 class="page-title">friends (<%= @friends.count %>)</h4>
            </div>
            <div class="content-box friends-zone">
              <div class="row mt-20 friends-list">
                <% @friends.each do |friend| %>
                  <div class="col-lg-4 col-sm-6 recently request">
                    <div class="friend-list-view">
                      <!-- profile picture end -->
                      <div class="profile-thumb pull-left">
                        <a href="#">
                          <figure class="profile-thumb-middle">
                            <% if friend.other_user(@user).profile_picture.attached?  %>
                              <img src="<%= url_for friend.other_user(@user).profile_picture %>" alt="profile picture">
                            <% else %>
                              <img src="<%= asset_path 'profile-small-3' %>" alt="profile picture">
                          <% end %>
                          </figure>
                        </a>
                      </div>
                      <!-- profile picture end -->

                      <div class="posted-author pull-left">
                        <h6 class="author pull-left"><a href="<%= user_path(id: friend.other_user(@user).id) %>"><%= friend.other_user(@user).name %></a></h6>
                      </div>
                      <div class="pull-right">
                      <% if @user == current_user %>
                        <%= link_to '', remove_friend_path({id: friend.other_user(@user).id}), class: 'btn btn-danger btn-sm fa fa-times-circle', method: :post, style: "color: white;margin-left: 10px;" %>
                      <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
