<main>
  <div class="main-wrapper pt-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 order-1 order-lg-1">
          <aside class="widget-area">
            <!-- widget single item start -->
            <div class="card card-profile widget-item p-0">
              <div class="profile-banner">
                <figure class="profile-banner-small">
                  <a href="#">
                    <img src="<%= show_attachment(current_user.cover_photo, 'banner-small') %>" alt="">
                  </a>
                  <a href="#" class="profile-thumb-2">
                    <img src="<%= show_attachment(current_user.profile_picture, 'avatar/user_default') %>" alt="">
                  </a>
                </figure>
                <div class="profile-desc text-center">
                  <h5 class="author"><a href="#"><%= current_user.name %></a></h5>
                  <p><strong class="goods-ready-dates-bold"><%=current_user.job_title%></strong></p>
                  <span><%=current_user.phone%></span>
                </div>
              </div>
            </div>
            <!-- widget single item start -->

            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title" >People you may know</h4>
              <div class="widget-body">
                <ul class="like-page-list-wrapper">
                  <% @recommendations.each do |user| %>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img src="<%= show_attachment(user.profile_picture, 'avatar/user_default') %>" alt="profile picture">
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title m-0"><a href="<%= user_path(user.id) %>"><%= user.name %></a></h3>
                      <p class="list-subtitle"><a> <i class="fa fa-address-card" aria-hidden="true"></i> <%= user.job_title %></a></p>
                    </div>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <!-- widget single item end -->

          </aside>
        </div>

        <div class="col-lg-6 order-2 order-lg-2">
          <div class="row">
            <%= render @users %>
          </div>

          <% if @pagy.pages != 1 %>
          <div class="row text-center">
            <div class="col-3"></div>
            <div class="col-6" > <%== pagy_bootstrap_nav(@pagy) %> </div>
          </div>
            <% end %>

        </div>

        <%# if @requested_users.any? %>
          <div class="col-lg-3 order-3">
              <aside class="widget-area">
                <!-- widget single item start -->
                <div class="card widget-item">
                  <h4 class="widget-title">Network Requests (<%= @requested_users.count %>)</h4>
                  <div class="widget-body">
                    <ul class="like-page-list-wrapper">
                      <% @friend_requests.each do |request| %>
                        <li class="unorder-list">
                          <!-- profile picture end -->
                          <div class="profile-thumb">
                            <a href="#">
                              <figure class="profile-thumb-small">
                                <img src="<%= show_attachment(request.requester.profile_picture, 'avatar/user_default') %>" alt="profile picture">
                              </figure>
                            </a>
                          </div>
                          <!-- profile picture end -->

                          <div class="unorder-list-info">
                            <h3 class="list-title m-0"><a href="#"><strong><a href="<%= user_path(request.requester.id) %>"><%= request.requester.name %></a> </strong> requested to join your network</a></h3>
                            <p class="list-subtitle"><%= time_ago_in_words( request.created_at) %> ago</p>
                            <div class="row">
                              <%= link_to 'Accept', add_friend_path(id: request.requester.id), method: :post, class: "btn btn-primary col-md-5"  %>
                              <div class="col-md-1"></div>
                              <%= link_to 'Reject', reject_friend_path(id: request.requester.id), method: :post, class: "btn btn-primary col-md-5",  style: "background-color: orangered"  %>
                            </div>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <!-- widget single item end -->

              </aside>
            </div>
        <%# end %>
      </div>
    </div>
  </div>

</main>
