<main class="bg-transparent">
    <div class="main-wrapper pb-0 mb-0">
        <div class="timeline-wrapper">
            <div class="timeline-page-wrapper">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <div class="signup-form-wrapper">
                                <h1 class="create-acc text-center">
                                  <% if action_name == 'new' %>
                                    Post An Inquiry
                                  <% else %>
                                    Update Inquiry
                                  <% end %>
                                </h1>
                                <div class="signup-inner inquiry-inner text-center">
                                    <%= simple_form_for inquiry, html: {id: 'inquiry-form'} do |f| %>
                                      <h3 class="title">Where are you shipping from?</h3>
                                      <div class="signup-inner--form less-spacing-form-part">
                                        <div class="row">
                                          <div class="col-md-4">
                                            <%= f.input :origin_location_type, collection: Inquiry.origin_location_types, label_method: :second, value_method: :first, prompt: "Select origin type", input_html: { :class=> "single-field select2-dropdown"} %>
                                          </div>
                                          <div class="col-md-4">
                                            <%= f.input :origin_country, as: :select, collection: ISO3166::Country.all.sort, prompt: "Select origin country", input_html: { :class=> "single-field select2-dropdown"} %>
                                          </div>
                                          <div class="col-md-4">
                                            <%= f.input :origin_address, input_html: { autocomplete: "origin_address", class: "single-field", onkeyup: 'get_origin_address_suggestions()' } %>
                                          </div>
                                        </div>
                                      </div>
                                      <h3 class="title">Where are you shipping to?</h3>
                                      <div class="signup-inner--form less-spacing-form-part">
                                        <div class="row">
                                          <div class="col-md-4">
                                            <%= f.input :destination_location_type, collection: Inquiry.destination_location_types, label_method: :second, value_method: :first, prompt: "Select destination type", input_html: { :class=> "single-field select2-dropdown"} %>
                                          </div>
                                          <div class="col-md-4">
                                            <%= f.input :destination_country, as: :select, collection: ISO3166::Country.all.sort, prompt: "Select destination country", input_html: { :class=> "single-field select2-dropdown"} %>
                                          </div>
                                          <div class="col-md-4">
                                            <%= f.input :destination_address, error: 'Destination is mandatory, please specify one', input_html: { autocomplete: "destination_address", class: "single-field", onkeyup: 'get_origin_address_suggestions()' } %>
                                          </div>
                                        </div>
                                      </div>
                                      <h3 class="title">When will you be shipping?</h3>
                                      <div class="signup-inner--form less-spacing-form-part">
                                        <div class="row">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-4">
                                            <%= f.input :goods_ready_date, as: :date_picker, input_html: { class: "single-field text-center", placeholder: 'Pick Shipping date' } %>
                                          </div>
                                        </div>
                                      </div>
                                      <h3 class="title">Do you have any special instructions for the delivery?</h3>
                                      <div class="signup-inner--form less-spacing-form-part">
                                        <div class="row">
                                          <div class="col-md-12">
                                            <%= f.input :special_instructions, input_html: { class: "single-field", placeholder: 'Special instructions', style:"min-height: 100px;" } %>
                                          </div>
                                        </div>
                                      </div>
                                      <h3 class="title">Delivery Specifics</h3>
                                      <div class="signup-inner--form less-spacing-form-part">
                                        <div class="row">
                                          <div class="col-md-4">
                                            <%= f.input :transport_mode, collection: Inquiry.transport_modes, label_method: :second, value_method: :first, prompt: "Select transport mode", input_html: { :class=> "single-field select2-dropdown"} %>
                                          </div>
                                          <div class="col-md-4">
                                            <%= f.input :item_type, collection: Inquiry.item_types, label_method: :second, value_method: :first, prompt: "Select item type", input_html: { :class=> "single-field select2-dropdown"} %>
                                          </div>
                                          <div class="col-md-4">
                                            <%= f.input :inco_terms, collection: Inquiry.inco_terms, label_method: :second, value_method: :first, prompt: "Select INCO term", input_html: { :class=> "single-field select2-dropdown"} %>
                                          </div>
                                          <div class="col-md-4">
                                            <%= f.input :need_custom_clearance, wrapper: :vertical_collection_inline %>
                                          </div>
                                          <div class="col-md-4">
                                            <%= f.input :is_personal, wrapper: :vertical_collection_inline %>
                                          </div>
                                          <div class="col-md-4">
                                            <%= f.input :is_hazardous, wrapper: :vertical_collection_inline %>
                                          </div>
                                        </div>
                                      </div>
                                      <h3 class="title">What are you shipping?</h3>
                                      <div class="signup-inner--form less-spacing-form-part">
                                        <div class="row">
                                          <div class="col-12">
                                            <div id='inquiry_items'>
                                              <%= f.simple_fields_for :inquiry_items do |inquiry_item| %>
                                                <%= render 'inquiry_item_fields', :f => inquiry_item %>
                                              <% end %>
                                              <div class='links'>
                                                <hr></hr>
                                                <%= link_to_add_association '', f, :inquiry_items, class:"fa fa-plus-circle" %>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-4"></div>
                                          <div class="col-4">
                                            <%= f.button :submit, action_name == 'new' ? "Post Inquiry" : "Update Inquiry", class: "submit-btn__final" %>
                                          </div>
                                        </div>
                                      </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
