<div class='nested-fields row'>
    <div class="field col-md-4">
      <%= f.input :commodity, input_html: { autocomplete: "commodity", class: "single-field" } %>
    </div>
    <div class="field col-md-2">
      <%= f.input :number_of_units, as: :integer, input_html: { autocomplete: "number_of_units", class: "single-field", step: :any, min: 1 } %>
    </div>
    <div class="field col-md-1">
      <%= f.input :length, as: :numeric, input_html: { autocomplete: "length", class: "single-field", step: :any, min: 0.1 } %>
    </div>
    <div class="field col-md-1">
      <%= f.input :width, as: :numeric, input_html: { autocomplete: "width", class: "single-field", step: :any, min: 0.1 } %>
    </div>
    <div class="field col-md-1">
      <%= f.input :heigth, as: :numeric, input_html: { autocomplete: "heigth", class: "single-field", step: :any, min: 0.1 } %>
    </div>
    <div class="field col-md-2">
      <%= f.input :weight, as: :numeric, input_html: { autocomplete: "weight", class: "single-field", step: :any, min: 0.1 } %>
    </div>
    <div class="field col-md-1 align-self-center">
      <%= link_to_remove_association "", f, class:"fa fa-times" %>
    </div>
  </div>
