<% inquiries.each do |inquiry| %>
  <div class="card">
    <!-- post title start -->
    <div class="post-title d-flex align-items-center">
      <!-- profile picture end -->
      <div class="profile-thumb">
        <a href="#">
          <figure class="profile-thumb-middle">
            <img src="<%= asset_path 'profile-small-3.jpg' %>" alt="profile picture">
          </figure>
        </a>
      </div>
      <!-- profile picture end -->

      <div class="posted-author">
        <h6 class="author"><a href="#"><%= inquiry.user.name %></a></h6>
        <span class="post-time"><%= time_ago_in_words(inquiry.updated_at) %></span>
      </div>

      <div class="post-settings-bar">
        <span></span>
        <span></span>
        <span></span>
        <div class="post-settings arrow-shape">
          <ul class="inquiry-popup-options">
            <% if current_user.id == inquiry.user.id %>
            <li><button><%= link_to 'Edit Inquiry', edit_inquiry_path(inquiry), class: 'inquiry-popup-option' %></button></li>
            <li><button><%= link_to 'Delete Inquiry', inquiry, method: :delete, data: { confirm: 'Are you sure?' }, class: 'inquiry-popup-option' %></button></li>
            <% end %>
            <li><button><%= link_to 'Show Full Details', inquiry, class: 'inquiry-popup-option' %></button></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- post title start -->
    <div class="post-content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Origin Location Type</th>
            <th>Origin Country</th>
            <th>Origin Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= Inquiry.origin_location_types[inquiry.origin_location_type] %></td>
            <td><%= inquiry.origin_country %></td>
            <td><%= inquiry.origin_address %></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Destination Location Type</th>
            <th>Destination Country</th>
            <th>Destination Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= Inquiry.destination_location_types[inquiry.destination_location_type] %></td>
            <td><%= inquiry.destination_country %></td>
            <td><%= inquiry.destination_address %></td>
          </tr>
        </tbody>
      </table>
      <p class="pull-right post-desc">
        <strong class="goods-ready-dates-bold"> Goods ready by: </strong> <%= inquiry.goods_ready_date %>
      </p>
      <div class="post-meta pull-left">
        <ul class="comment-share-meta">
          <li>
            <% if inquiry.user == current_user %>
              <button class="post-comment">
                <i class="bi bi-chat-bubble"></i>
                <span><%= inquiry.quotes.count %></span>
              </button>
            <% else %>
              <div class="share-content-box w-100">
                <form class="share-text-box btn-post-inquiry">
                  <div class="fa fa-pencil"></div><%= link_to "  Give Quote", new_inquiry_quote_path(inquiry), class:'share-give-quote-box' %>
                </form>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
